<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="report.css">
    <link rel="stylesheet" href="common.css">

    <title>Attendance System Report</title>
</head>

<body>
    <nav>
        <img src="https://www.gsfcuni.edu.in/public/logo/White1.png" alt="Logo">
        <ul>
            <li><a href="/">Image</a></li>
            <li><a href="/camera">Camera</a></li>
            <li><a href="/table">Table</a></li>
            <li><a href="/report">Report</a></li>
        </ul>
    </nav>
    <main class="main">
        <section class="container">
            <h1>Attendance System Project</h1>

            <h2>Introduction</h2>
            <p>
                The Attendance System Project is an innovative solution developed as part of the Computer Vision
                subject. It leverages the power of YOLO (You Only Look Once), a state-of-the-art object detection
                framework, to automate attendance tracking in various contexts, such as classrooms, meetings, or events.
            </p>

            <h2>Features</h2>
            <ul>
                <li>Real-time Object Detection</li>
                <li>Face Recognition</li>
                <li>Automatic Attendance Recording</li>
                <li>User-friendly Web Interface</li>
            </ul>

            <h2>Implementation</h2>
            <p>
                The project was implemented using Python and the YOLO framework. It involves training the YOLO model to
                recognize faces and track them in real-time using a camera feed. When a recognized face is detected, the
                system records the attendance of the corresponding individual.
            </p>

            <h2>Challenges</h2>
            <p>
                While implementing the project, several challenges were encountered, including real-time processing,
                optimizing the YOLO model for speed, and ensuring accurate face recognition under various lighting
                conditions.
            </p>

            <h2>Conclusion</h2>
            <p>
                The Attendance System Project demonstrates the potential of computer vision and deep learning in
                automating attendance tracking processes. It offers a robust and efficient solution for educational
                institutions and organizations seeking to streamline attendance management.
            </p>
        </section>
    </main>
    <footer>
        Developed by Kshipra and Viraj
    </footer>
</body>

</html>